@import url("https://fonts.google.com/specimen/Manrope");

$tamaño-texto: 13px; 
$Very_Dark_Grayish_Blue: hsl(217, 19%, 35%); //Azul grisáceo muy oscuro
$Desaturated_Dark_Blue: hsl(214, 17%, 51%); //Azul oscuro desaturado
$Grayish_Blue: hsl(212, 23%, 69%); //Azul grisáceo
$Light_Grayish_Blue: hsl(210, 46%, 95%); //Azul grisáceo claro

.texto-titulo{
    font-size: 20px;
    font-family: Manrope;
    color: $Very_Dark_Grayish_Blue;
}

.texto-cuerpo{
    font-size: $tamaño-texto;
    font-family: Manrope;
    color: $Desaturated_Dark_Blue;
}
.texto-shared{
    font-family: Manrope;
    color: $Desaturated_Dark_Blue;
}
body{
    background-color: $Light_Grayish_Blue;

    #content{
        height:-webkit-fill-available;
        display: flex;
        justify-content: center;
        align-items: center;
        #ventana{
            border-radius: 7px;
            width: 800px;
            height: 280px;
            background-color: white;  
            display: flex;
            align-items: center;
            
            img{
                height: 100%;
                width: 35%;
                border-radius: 7px 0px 0px 7px;
            }
            #contenido{
                width: 100%;
                height: auto;
                padding: 20px;

                #contacto{
                    width: 100%;
                    height: auto;
                    display: flex;

                    img{
                        border-radius: 100%;
                        margin: auto 5px auto 0;
                        width: 50px;
                        height: 50px;
                    }
                    #compartir{
                        border-radius: 100%;
                        width: 40px;
                        height: 40px;
                        border: none;
                        margin: auto 0 auto auto;
                        background-color: $Very_Dark_Grayish_Blue;
                        background-image: url("../images/icon-share.svg");
                        background-repeat: no-repeat;
                        background-position: 13px 13px;
                    }
                }
            }
            &:hover{
                box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 2px 10px 1px rgba(0, 0, 0, 0.13), 0 3px 12px 2px rgba(0, 0, 0, 0.1);
             }
        }
    }

    #shared{
        color: white;
        background-color: $Very_Dark_Grayish_Blue;
        border-radius: 7px;
        padding: 10px;
        width: 200px;
        height: 30px;
        display:none;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        left: 69%;
        bottom: 42%;
        top: 49%;
    }
}

